# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate/Test Files

on:
  workflow_dispatch: {}
  push: {}

jobs:
  python-lint:
    runs-on: ubuntu-slim
    steps:
      - name: checkout
        uses: actions/checkout@v5
      - name: setup python
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          mise trust --quiet .config/mise.toml
          mise install --quiet python
          eval "$(mise activate bash)" > /dev/null
          pip install -q --no-cache-dir --upgrade pip wheel uv
          uv sync
      - name: Ruff Format
        run: |
          eval "$(mise activate bash)"
          uv run ruff format --check
      - name: Ruff Check
        run: |
          eval "$(mise activate bash)"
          uv run ruff check
      - name: run mypy
        run: |
          eval "$(mise activate bash)"
          uv run mypy .

  markdown:
    name: Markdown linting
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: setup markdownlint
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          mise trust --quiet .config/mise.toml
          mise install --quiet markdownlint-cli2
          eval "$(mise activate bash)" > /dev/null
      - name: Markdown linting
        run: |
          markdownlint-cli2 .

  yamllint:
    name: Yaml Linting
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: setup yamllint
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          mise trust --quiet .config/mise.toml
          mise install --quiet yamllint
          eval "$(mise activate bash)" > /dev/null
      - name: YAML linting
        run: |
          yamllint -c .yamllint-config.yaml --no-warnings .
