# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Validate/Test Files

on:
  workflow_dispatch: {}
  push: {}

jobs:
  python-lint:
    runs-on: ubuntu-slim
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - name: setup python
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          ~/.local/bin/mise trust --quiet .config/mise.toml
          ~/.local/bin/mise install --quiet ruff python
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          pip install -q --no-cache-dir --upgrade pip wheel uv
          uv sync
      - name: Ruff Format
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          ruff format --check
      - name: Ruff Check
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          ruff check
      - name: run mypy
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          uv run mypy .

  markdown:
    name: Markdown linting
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup markdownlint
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          ~/.local/bin/mise trust --quiet .config/mise.toml
          ~/.local/bin/mise install --quiet markdownlint-cli2
      - name: Markdown linting
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          markdownlint-cli2 .

  yamllint:
    name: Yaml Linting
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup yamllint
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          ~/.local/bin/mise trust --quiet .config/mise.toml
          ~/.local/bin/mise install --quiet yamllint
      - name: YAML linting
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          yamllint -c .yamllint-config.yaml --no-warnings .

  jsonlint:
    name: JSON linting
    runs-on: ubuntu-slim
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: setup jq
        run: |
          curl -SsL https://mise.run | bash > /dev/null
          ~/.local/bin/mise trust --quiet .config/mise.toml
          ~/.local/bin/mise install --quiet jq
      - name: JSON linting
        run: |
          eval "$(~/.local/bin/mise activate bash)" > /dev/null
          LOG_FILES=true tools/check-json.sh
